---
import BaseWeb from "../layouts/BaseWeb.astro";
---

<BaseWeb title="Flaming Rage - Musica">
    <section class="my-12 container max-w-screen-md">
        <img
            class="h-auto mx-auto"
            src="/alts.webp"
            title="Imgaen perfil de Tebrase"
        />
        <h2 class="text-6xl mb-6">Holi!</h2>
        <p class="mb-5">
            Soy Tebrase.
        </p>
        <p class="mb-5">
            Soy una persona friki que le gustan los videjueguitos y la informática. 
            Mi profesión es programador por lo que podéis imaginar que esta web puede contener cosas relacionadas con el sector =). 
            Me gusta poder ayudar a la gente, así que los posts random que vaya colgando pueda interesarle a alguien y servirle.
        </p>
        <p class="mb-5">
            Esta web nació a partir de un clan de un MMORPG llamado Nostale. 
            Al principio solo funcionaba mediante un grupo de Facebook y al tiempo evolucionó a una web propia.
        </p>
        <p class="mb-5">
           Mi objetivo es montar un sitio con la recaudación de apuntes sobre cualquier tema, ya sea del mundo de la tecnología o de videojuegos. 
           El ejemplo sería como el de alguien que tiene una libreta y apunta todas las chuletas de cualquier cosa para usarlo como recordatorio.
        </p>
    </section>
</BaseWeb>
