---
import BaseWeb from '../layouts/BaseWeb.astro';
---

<BaseWeb title="Flaming Rage - Musica">
    <section class="my-12">
        <article class="container max-w-screen-md">
            ABOUT
        </article>
    </section>
</BaseWeb>