---
import BaseWeb from "../layouts/BaseWeb.astro";
---

<BaseWeb title="Flaming Rage - Musica">
    <section class="my-12 container max-w-screen-md">
        <img
            class="h-auto mx-auto"
            src="/alts.webp"
            title="Imgaen perfil de Tebrase"
        />
        <h2 class="text-6xl mb-6">Bienvenido!</h2>
        <p class="mb-5">
            Soy Tebrase y junto con Nau, iniciamos esta página web con el
            objetivo de aprender y al mismo tiempo ofrecer o compartir
            información de utilidad.
        </p>
        <p class="mb-5">
            Esta web nació a partir de un clan de un MMORPG, en concreto
            Nostale. Al principio solo funcionaba mediante un grupo de facebook
            y al tiempo evolucionó a una web propia.
        </p>
        <p class="mb-5">
            Actualmente, yo Tebrase, estoy a cargo de la totalidad del sitio
            web. Mi objetivo sigue siendo el mismo, aprender en el mundo web y
            seguir ofreciendo guías o información interesante y útil.
        </p>
    </section>
</BaseWeb>
