---
import { getCollection } from "astro:content";
import BaseWeb from "../layouts/BaseWeb.astro";
import CardPost from "../components/CardPost.astro";
//import { posts } from "../lib/posts.mjs";

/*let postList;

if (posts.length > 6) {
    postList = posts.slice(posts.length - 6, posts.length);
} else {
    postList = posts;
}*/

const allPosts = await getCollection("blog");
let postList;

if (allPosts.length > 6) {
    postList = allPosts.slice(allPosts.length - 6, allPosts.length);
} else {
    postList = allPosts;
}
---

<BaseWeb title="Flaming Rage">
    <section class="my-12">
        <div class="container max-w-screen-lg">
            <div class="items-center grid gap-24 grid-cols-1 lg:grid-cols-2">
                <p
                    class="lg:text-8xl md:text-left text-6xl text-center text-flaming"
                >
                    FLAMING RAGE
                </p>
                <img
                    alt="imagen-home"
                    class="hidden lg:block image-home"
                    src="/avatar-alts.svg"
                    decoding="async"
                />
            </div>
        </div>
    </section>
    <section class="my-64">
        <div class="container max-w-screen-xl">
            <h2 class="text-6xl mb-16">Recientes</h2>
            <div class="grid gap-12 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                {
                    postList.map((post) => (
                        <CardPost
                            title={post.data.title}
                            description={post.data.description}
                            category={post.data.category}
                            image={post.data.image}
                        />
                    ))
                }
            </div>
        </div>
    </section>
</BaseWeb>

<style>
    .image-home {
        max-width: 530px;
        max-height: 560px;
    }
</style>
