---
interface Props {
	title: string;
    description: string;
    category: string;
    image: {
        src: string,
        alt: string
    };
}

const { title, description, category, image} = Astro.props;
---
<a href={'/' + category +'/' + title.replaceAll(' ', '-').toLowerCase()} class="flex flex-col gap-4 reciente" transition:animate="slide">
    <img class="rounded-lg img-post max-h-36 z-10" src={'../../../' + image.src} title={image.alt}/>
        <div class="content">
            <h3 class="text-3xl">{ title }</h3>
            <p>{ description }</p>
           
        </div>
</a>


<style>
    .img-post {
        color: #f8a648;
    }

    .reciente {
        position: relative;
        padding: 2rem;
        width: 100%;
    }

    .reciente::before, .reciente::after{
        content: "";
        position: absolute;
    }

    .reciente::before {
        box-shadow: 0 0 0 6px hsl(240, 4%, 9%);
        border: 3px solid hsl(210, 8%, 31%);
        inset: 0;
        border-radius: 1rem;
        background-color: hsl(240, 4%, 9%);
        z-index: 1;
    }

    .reciente:hover::before {
        box-shadow: 0 0 0 6px white;
    }

    .reciente::after {
        background: linear-gradient(to right, #ffe300 0%, #e25822 100%);
        inset: 1rem -.85rem -.85rem 1rem;
        border-radius: 1rem;
        z-index: 0;
    }

    .content {
        z-index: 2;
    }

</style>