<footer class="py-8">
    <div class="container max-w-screen-xl">
        <p>© 2023 - Made with by <a class="text-flaming underline" href="https://github.com/OriolGarciaFores">Tebrase</a>.</p>
    </div>
</footer>