<header class="py-8">
    <div class="container w-full flex flex-wrap justify-between">
        <a href="/" class="flex items-center !no-underline gap-2">
            <img alt="Logo" src="/alts.png" height="37" width="47" />
            <span class="font-bold text-flaming text-lg">Flaming Rage</span>
        </a>
        <nav class="flex items-center text-flaming text-lg">
            <ul class="flex gap-6">
                <li><a href="/">Home</a></li>
                <li><a href="/blog/posts">Posts</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    nav{
        font-weight: 700;
    }

    nav > ul a:hover {
        -webkit-text-fill-color: #f8a648;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-style: wavy;
        text-underline-offset: 7px;
    }
</style>